<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wedding Accommodation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index">
                                    <img src="../static/assets/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li><a href="index">Home</a></li>
                                        <li><a href="story">Our Story</a></li>
                                        <li><a href="gallery">Gallery</a></li>
                                        <li><a class="active" href="Accommodation">Accommodation</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/ header-->

   <!-- bradcam_area  -->
   <div class="bradcam_area text-center slider_bg_1 overlay3">
        <div class="bradcam_text">
            <h3 class="text-white">Accommodation</h3>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- accommodation_area  -->
    <div class="accommodation_area">
        <div class="container">
                <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="section_title text-center">
                                <h3>Accommodation.  For.  Guest</h3>
                                <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here content here, making it look like readable English. Many desktop publishing packages and web page editors now use.</p>
                            </div>
                        </div>
                    </div>
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12">
                    <div class="accommondation_image">
                        <img src="../static/assets/img/Accommodation/1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="accommondation_image">
                        <img src="../static/assets/img/Accommodation/2.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="accommondation_image">
                        <img src="../static/assets/img/Accommodation/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ accommodation_area  -->


    <!-- attend_area -->
    <div class="attending_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                    <div class="main_attending_area">
                        <div class="flower_1 d-none d-lg-block">
                            <img src="img/appointment/flower-top.png" alt="">
                        </div>
                        <div class="flower_2 d-none d-lg-block">
                            <img src="img/appointment/flower-bottom.png" alt="">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8">
                                <div class="popup_box ">
                                    <div class="popup_inner">
                                        <div class="form_heading text-center">
                                            <h3>Are You Attending?</h3>
                                            <p>Kindly respond before 30 August</p>
                                        </div>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <input type="text" placeholder="Your Name">
                                                </div>
                                                <div class="col-xl-12">
                                                    <input type="text" placeholder="Email">
                                                </div>
                                                <div class="col-xl-12">
                                                    <select class="form-select wide" id="default-select" class="">
                                                        <option data-display="1 Guest">1 Guest</option>
                                                        <option value="1">2 Guest</option>
                                                        <option value="2">3 Guest</option>
                                                        <option value="3">4 Guest</option>
                                                    </select>
                                                </div>
                                                <div class="col-xl-12">
                                                    <textarea placeholder="Additional Message"></textarea>
                                                </div>
                                                <div class="col-xl-12">
                                                    <button type="submit" class="boxed_btn3">R.S.V.P</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / attend_area -->

<!-- ================ contact section start ================= -->
<section class="location_area text-center">
    <div class="location_info">
        <div class="location_inner">
            <div class="location_top text-center">
                <h3>Location</h3>
                <p>Se Moer Destination<br>
                    Potchefstroom <br>
                <span>072 953 2976</span> </p>
            </div>
            <div class="address_info d-flex justify-content-between">
                <div class="single_address text-center">
                    <h4>Ceremony</h4>
                    <p>14h30 - 16h00 <br>
                            Tree Lined Chapel</p>
                </div>
                <div class="single_address text-center">
                    <h4>Wedding Party Photos</h4>
                    <p>16h00 - 17h30 <br>
                            Mooiriver Banks</p>
                </div>
                <div class="single_address text-center">
                    <h4>Reception</h4>
                    <p>17h30 - 22h00 <br>
                            Reception Hall</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="d-none d-sm-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d1977.7750638762323!2d27.142256!3d-26.392613!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDIzJzM0LjIiUyAyN8KwMDgnMzIuNSJF!5e1!3m2!1sen!2sza!4v1696447643397!5m2!1sen!2sza" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

    <!-- footer_start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="quick_links">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="story">Our Story</a></li>
                                <li><a href="gallery">Gallery</a></li>
                                <li><a href="Accommodation">Accommodation</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end -->


    <!-- JS here -->
    <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scrollIt.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/gijgo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>

    <!--contact js-->
    <script src="{{ url_for('static', filename='assets/js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mail-script.js') }}"></script>
    
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <script>
        $('#clock').countdown('2024/05/11', function (event) {
            $(this).html(event.strftime(
                '<div class="countdown_wrap d-flex"><div  class="single_countdown"><h3>%D</h3><span>Days</span></div><div class="single_countdown"><h3>%H</h3><span>Hours</span></div><div class="single_countdown"><h3>%M</h3><span>Minutes</span></div><div class="single_countdown"><h3>%S</h3><span>Seconds</span></div></div>'
            ));
        });
    </script>
    </script>



</body>

</html>