<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Johandré & Leané's Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flash_messages.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index">
                                    <img src="../static/assets/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index">home</a></li>
                                        <li><a href="story">Our Story</a></li>
                                        <li><a href="gallery">Gallery</a></li>
                                        <li><a href="Accommodation">Accommodation</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/ header-->

    <!-- Flash Messages -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="flash-messages">
                            {% for message in messages %}
                                <div class="flash flash-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <!-- slider_area -->
    <div class="slider_area ">
        <div class="slider_area_inner slider_bg_1 overlay2">
            <div class="slider_text text-center">
                <div class="text_inner">
                    <img src="../static/assets/img/banner/banner-flowers.png" alt="">
                    <h4>11 May 2024</h4>
                    <h3>Johandré & Leané <br>
                        Wedding Ceremony</h3>
                    <span>Getting Married</span>
                </div>
            </div>
        </div>
    </div>
    <!--/ slider_area -->

    <!-- wedding_countdown -->
    <div class="weeding_countdown_area">
        <div class="flowaers_top d-none d-lg-block">
            <img src="../static/assets/img/banner/flower-top.png" alt="">
        </div>
        <div class="flowaers_bottom d-none d-lg-block">
                <img src="../static/assets/img/banner/flower-bottom.png" alt="">
            </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="../static/assets/img/banner/flowers.png" alt="">
                        <span>11 May. 2024</span>
                        <h3>The wedding countdown</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="clock" class="countdown_area counter_bg ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ wedding_countdown -->



    <!-- program_details -->
    <div class="program_details_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="../static/assets/img/banner/flowers.png" alt="">
                        <h3>Program Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_1 text-center stretch">
                        <div class="program_inner ">
                            <span>
                                14:30
                            </span>
                            <h3>Wedding Ceremony</h3>
                            <p>Our wedding ceremony will be held amidst tall trees in the afternoon.
                                Join us as we exchange vows and celebrate our love with family and friends.</p>
                                <br>

                            <img src="../static/assets/img/program_details/ornaments.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_2 text-center stretch">
                        <div class="program_inner ">
                            <span>
                                16:30
                            </span>
                            <h3>Canapés</h3>
                            <p>Relish a delightful assortment of savory and sweet canapés as you mingle and celebrate with us.
                                Our carefully curated selection of bites offers a variety of flavors to tantalize your taste buds.</p>
                            <img src="../static/assets/img/program_details/ornaments.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_3 text-center stretch">
                        <div class="program_inner ">
                            <span>
                                19:00
                            </span>
                            <h3>Main Course</h3>
                            <p>As you savor the evening with us, relish in a delightful main course that complements the joy
                                and celebration of our special day.</p>
                                <br>
                                <br>
                            <img src="../static/assets/img/program_details/ornaments.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ program_details -->

    <!-- attend_area -->
    <div class="attending_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                    <div class="main_attending_area">
                        <div class="flower_1 d-none d-lg-block">
                            <img src="../static/assets/img/appointment/flower-top.png" alt="">
                        </div>
                        <div class="flower_2 d-none d-lg-block">
                            <img src="../static/assets/img/appointment/flower-bottom.png" alt="">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8">
                                <div class="popup_box ">
                                    <div class="popup_inner">
                                        <div class="form_heading text-center">
                                            <h3>Are You Attending?</h3>
                                            <p>Kindly respond before 16 December 2023</p>
                                        </div>
                                        <form action="{{ url_for('rsvp') }}" method="POST">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <input type="text" placeholder="Your Name" name="name" required>
                                                </div>
                                                <div class="col-xl-12">
                                                    <input type="email" placeholder="Email" name="email" required>
                                                </div>
                                                <div class="col-xl-12">
                                                    <select class="form-select wide nice-select" id="guests_count" name="guests_count">
                                                        <option value="1" selected>1 Guest</option>
                                                        <option value="2">2 Guests</option>
                                                        <option value="3">3 Guests</option>
                                                        <option value="4">4 Guests</option>
                                                    </select>
                                                </div>
                                                <div class="col-xl-12">
                                                    <textarea placeholder="Additional Message" name="message"></textarea>
                                                </div>
                                                <!-- Container for guest input fields -->
                                                <div id="guestsContainer"></div>
                                                <div class="col-xl-12">
                                                    <button type="submit" class="boxed_btn3">R.S.V.P</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / attend_area -->

<!-- ================ contact section start ================= -->
<section class="location_area text-center">
    <div class="location_info">
        <div class="location_inner">
            <div class="location_top text-center">
                <h3>Location</h3>
                <p>Se Moer Destination<br>
                    Potchefstroom <br>
                <span>072 953 2976</span> </p>
            </div>
            <div class="address_info d-flex justify-content-between">
                <div class="single_address text-center">
                    <h4>Ceremony</h4>
                    <p>14h30 - 16h00 <br>
                            Tree Lined Chapel</p>
                </div>
                <div class="single_address text-center">
                    <h4>Wedding Party Photos</h4>
                    <p>16h00 - 17h30 <br>
                            Mooiriver Banks</p>
                </div>
                <div class="single_address text-center">
                    <h4>Reception</h4>
                    <p>17h30 - 22h00 <br>
                            Reception Hall</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="d-sm-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d1977.7750638762323!2d27.142256!3d-26.392613!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDIzJzM0LjIiUyAyN8KwMDgnMzIuNSJF!5e1!3m2!1sen!2sza!4v1696447643397!5m2!1sen!2sza" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

   <!-- footer_start -->
   <footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="quick_links">
                        <ul>
                            <li><a href="index">Home</a></li>
                            <li><a href="story">Our Story</a></li>
                            <li><a href="gallery">Gallery</a></li>
                            <li><a href="Accommodation">Accommodation</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end -->

    <!-- JS here -->
    <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scrollIt.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/gijgo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>

    <!--contact js-->
    <script src="{{ url_for('static', filename='assets/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


    <script>
        $('#clock').countdown('2024/05/11 14:30:00', function (event) {
            $(this).html(event.strftime(
                '<div class="countdown_wrap d-flex"><div class="single_countdown"><h3>%D</h3><span>Days</span></div><div class="single_countdown"><h3>%H</h3><span>Hours</span></div><div class="single_countdown"><h3>%M</h3><span>Minutes</span></div><div class="single_countdown"><h3>%S</h3><span>Seconds</span></div></div>'
            ));
        });
    </script>

<!-- Add this JavaScript code to your HTML -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/attending.js') }}"></script>


</body>

</html>